<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Basen | Dodaj rezerwację</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
<form action="/bookdate"><label>Data: </label>
    <input id="datepicker" width="276" name="fulldate"/>
    <script>
        $('#datepicker').datepicker({
            uiLibrary: 'bootstrap4'
        });
    </script>
    <br>
    <label>Godzina: </label>
    <select name="time">
        <option name="1700">17:00</option>
        <option name="1800">18:00</option>
        <option name="1900">19:00</option>
        <option name="2000">20:00</option>
        <option name="2100">21:00</option>
    </select>
    <br>
    <div class="nonameprovided" th:if="${noanswer}">Wpisz nazwisko i liczbę rezerwowanych miejsc</div>
    <label>Nazwisko:</label> <input size="10" name="bookname" type="text"><br>
    <label>Liczba miejsc:</label> <input class="book-input" min="1" max="12" name="booknum" type="number">
    <br>
    <div class="main-view">
        <input class="btn btn-primary" type="submit" value="Dodaj">
        <br>
        <a class="btn btn-primary" href="/">Wróć</a>
    </div>
</form>
</body>
</html>