<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="booking-details">
Data: <span class="available-number" th:text="${day}"></span>.<span class="available-number" th:text="${month}"></span><span class="available-number">.2019</span>
<br>
Godzina: <span class="available-number" th:text="${time}"></span>
<br>
Nazwisko: <span class="available-number" th:text="${bookname}"></span>
<br>
Liczba miejsc: <span class="available-number" th:text="${booknum}"></span>
</div>
<a class="btn btn-primary" th:href="@{|/bookdate/${time}${month}${day}/${bookname}/${booknum}|}">Potwierdź</a>

</body>
</html>